@font-face {
  font-family: "Wide Latin", serif;
  src: url(/css/Wide-Latin-Regular.ttf);
}

/* -------------------- GENERAL -------------------- */

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #4b586a;
}

.container {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 1440px;
}

p {
  margin-right: auto;
  margin-left: auto;
  max-width: 36em;
  margin-bottom: 1em;
}

img {
  height: auto;
  max-width: 100%;
}

/* -------------------- HEADINGS -------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  text-align: center;
}

.page-title h1,
.entry-header h1,
.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 p {
  font-size: 48px;
  font-weight: 500;
  color: #c4e601;
  line-height: 1;
  text-align: center;
  max-width: 48rem;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

.countdown-text {
  text-align: center;
}

/* HOMEPAGE LOGO */
.logo-container {
  position: relative;
  text-align: center;
  color: #c4e601;
}

.logo-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------  HEADER ------- */

.site-header {
  background-color: #c4e601;
}

.site-title {
  font-family: "Wide Latin";
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

/* -------------------- FOOTER  -------------------- */

.site-footer {
  background-color: #c4e601;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-grid {
  max-width: 1440px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

.footer-social-media a {
  transition: opacity 0.2s ease;
}

.footer-social-media a:hover {
  opacity: 1;
}

.footer-social-media a {
  font-size: 1rem;
  line-height: 1;
  opacity: 0.25;
}
.footer-copyright {
  font-size: 0.75rem;
  margin: 0;
  line-height: 1;
}

.icon {
  max-width: 48px;
  height: auto;
  padding-right: 16px;
}

/* -------  NAV ------- */

/* Links
--------------------------------------------- */
a {
  color: #4b586a;
  text-decoration: none;
}

a:visited {
  color: #4b586a;
}

a:hover,
a:focus,
a:active {
  color: #4b586a;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Responsive Navigation - unchanged styles from underscores.me
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation.toggled {
  height: 100vh;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  font-size: 24px;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding-bottom: 32px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 54em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.menu-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* DONATE */

.button-block-button {
  border: none;
  width: 300px;
  height: 150px;
  text-align: center;
}

.green-block {
  background-color: #c4e601;
}

.blue-block {
  background-color: #a1e1e6;
}

/* date */
.updated {
  display: none;
}

/* -------------------- BUTTONS -------------------- */

button {
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  line-height: 1;
  background-color: #4b586a;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

/* -------------------- CUSTOM FIELDS -------------------- */

.video-audio {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  border: 1px solid #4b586a;
}

.video-audio iframe,
.video-audio object,
.video-audio embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -------------------- MEDIA QUERIES -------------------- */

/* Medium -  screens between 768px and 1024px - small laptop */
@media only screen and (min-width: 48em) and (max-width: 64em) {
}

/* Not Small -  screens between 480px and 768px - portrait tablet and landscape phone*/
@media only screen and (min-width: 30em) and (max-width: 48em) {
  .footer-grid {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
  .site-title {
    font-size: 36px;
  }
}

/* Small -  screens below 480px portrait phone*/
@media only screen and (min-width: 0px) and (max-width: 30em) {
  .footer-grid {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
  .site-title {
    font-size: 24px;
  }
}
